aniso8601==9.0.1
bcrypt==3.2.0
bleach==4.1.0
boto3==1.20.31
botocore==1.23.31
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
contextlib2==21.6.0
decorator==5.1.1
Flask==2.0.2
Flask-Bcrypt==0.7.1
Flask-Hashing==1.1
Flask-JWT-Extended==4.3.1
Flask-RESTful==0.3.9
google-api-core==2.3.2
google-api-python-client==2.34.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.54.0
hashids==1.3.1
httplib2==0.20.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
numpy==1.22.0
oauth2client==4.1.3
oauthlib==3.1.1
packaging==21.3
pandas==1.3.5
protobuf==3.19.3
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pymongo==4.0.1
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.5.0
schema==0.7.5
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.8
validators==0.18.2
webencodings==0.5.1
Werkzeug==2.0.2
